$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
);
$container-max-widths: (
  sm: 90%,
  md: 85%,
  lg: 80%
);
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
header {

}
main {

}
footer {

}
